*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;

}
h3{
    font-size: 10px;
}
span{
    font-size: 5px;
}
.piano{
    max-width: 200px;
    max-height: 200px;
    display: flex;

}
.key {
    width: 10px;
    height: 50px;
    margin: 0 2px;
    cursor: pointer;
}

.white {
    background-color: white;
    border: 1px solid #333;
}

.black {
    background-color: black;
    position: relative;
    z-index: 1;
}
