*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h2{
    font-size: 8px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
}

.card{
    width: 80px;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 4px rgba(0,0,0,.1);
    transition: transform .2;
    position: relative;
    overflow: hidden;

}
.card img {
    width: 100%;
    height: auto;
    display: block;
}
.card-info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    color: #fff;
    text-align: center;
    display: flex;
    opacity: 0;
    flex-direction: column;
    justify-content: center;
    font-size: 5px;
    transition: opacity .3s;
}
.card h2{
    opacity: 0;
    transition: opacity .3s ease
}
.card:hover{
    transform: scale(1.05);
    font-size: 5px;

}

.card:hover .card-info{
    opacity: 1;
}
.card:hover h2{
    opacity: 1;
}