body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #3498db;
    overflow: hidden;
    flex-direction: column;
}
h3{
    text-align: center;
    color: white;
    margin-bottom: 10px;
}


.container{
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;
}
/* .circle{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.4);
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 2s linear infinite;
}

@keyframes ripple {
    0%{
        transform: scale(0)
    } 100% {
        transform: scale(2);
        opacity: 0;
    }
} */