body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
    overflow: hidden;
    flex-direction: column;
}

p{
    text-align: center;
    color: #222;
}


.circle{
    background-color: orangered;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation: colorChange 1s infinite ease-in-out
}

@keyframes colorChange {
    0%{
        background-color: orangered;
    } 100%{
        background-color:  #3498db;
    }
}